.dev_night_logo {
	text-align: center;
	margin: auto;
	padding: 10px;
}

.dev_night_logo img {
	width: 400px;
}

.shadowfilter {
	filter: drop-shadow(8px 8px 5px rgba(0,0,0,0.15));
	-webkit-filter: drop-shadow(8px 8px 5px rgba(0,0,0,0.15));
}

.shadowfilter_white {
	filter: drop-shadow(4px 4px 8px rgba(255,255,255,0.15));
	-webkit-filter: drop-shadow(4px 4px 8px rgba(255,255,255,0.15));
}

.events tbody {
	font-size: 12px;
}

.events tbody .repo_link{
	text-decoration: none;
	border: none;
	color:#778087;
}

.events tbody .repo_link:hover{
	background-color: initial;
	color:#778087;
}

.events tbody .fa-2 {
	font-size: 18px;
	opacity: 0.5;
}

.events tbody .fa-2:hover {
	font-size: 18px;
	opacity: 1;
}

.linkjuice__icon {
    background: url(../img/link.svg) no-repeat 0 0;
    display: inline-block;
    height: 25px;
    width: 22px
}

.linkjuice__icon-white {
	background: url(../img/link-white.svg) no-repeat 0 0 !important;
}

.linkjuice-icon {
    top: -6px;
    left: -35px;
    position: absolute;
    display: none;
    opacity: .1
}

.linkjuice:hover .linkjuice-icon {
    opacity: .8;
    display: block
}

.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	left: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(255, 46, 136, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
}

.cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .5;
}

.grid img {
	max-width:100%;
	max-height:100%;
}

.grid .cell {
	margin: 5px;

}


/* Add styleing for the spoiler */
.spoiler > input + label:after {
	content: "+";
	float: right;
	font-family: monospace;
	font-weight: bold;
}
.spoiler > input:checked + label:after {
	content: "-";
	float: right;
	font-family: monospace;
	font-weight: bold;
}
.spoiler > input {
	display: none;
}
.spoiler > input + label {
	padding: 5px 10px;
}
.spoiler > .spoiler_body {
	padding: 5px;
}
.spoiler > input + label,
.spoiler > .spoiler_body {
	background: #ccc;
	overflow: hidden;
	box-sizing: border-box;
	display: block;
	cursor: pointer;
}
.spoiler > input + label + .spoiler_body {
	display: none;
}
.spoiler > input:checked + label + .spoiler_body {
	display: block;
}
.spoiler > .spoiler_body {
	border-top: none;
}

/* Light spoiler */
.spoiler > .spoiler_body {
	background: #fff;
	border: 3px solid #ccc;
}
.spoiler > input + label,
.spoiler > .spoiler_body {
	background: #ccc;
}

/* Dark spoiler */
.dark_spoiler > .spoiler_body {
	background: #1e88e5 !important;
	border: 3px solid #1e88e5 !important;
}
.dark_spoiler > input + label,
.dark_spoiler > .spoiler_body {
	background: #1e88e5 !important;
	color: #eee !important;
}

/* Slack button */
.slack-community {
	padding-top: 10px;
	text-align: center;
}

.slack-community > button {
	font-size: 1.3rem;
	font-weight: bold;
	border-radius: 5px;
}

.slack-community > button > i {
	padding-left: 5px;
}

/* Slack Chat */
.message-box {
	position: fixed;
	bottom: 40px;
	right: 20px;
	font-size: 28px;
	color: #fff;
	background: #2196f3;
	border-radius: 50%;
	padding: 10px;
	z-index: 80000;
	height: 50px;
  	width: 50px;
  	text-align: center;
}

.message-box:hover {
	background: #2186f3;
}

.message-box > a,
.message-box > a:active,
.message-box > a:focus,
.message-box > a:hover {
	color: #fff;
	background: none;
	border: none;
}

@media screen and (max-width: 768px) {
	.message-box {
		bottom: 25px;
		right: 25px;
		font-size: 20px;
		height: 40px;
		width: 40px;
	}
}

.featured-picture {
	border: none;
}
